#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: var(--sunglow);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9;
    border-bottom: 1px solid black;
}

#link-container a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem !important;
}
  
#signup {
    color: whitesmoke !important;
    background-color: var(--pink);
    padding: 0.6rem;
    margin-left: 0.8rem;
    border-radius: 8px;
}

@media only screen and (max-width: 700px) {
    #navbar {
      padding: 0.2rem;
    }
  }
  