{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Giriş / Kayıt Ekranı</title>
    <link rel="stylesheet" href="{% static 'login_signup.css' %}" />
    <link rel="stylesheet" href="{% static 'color.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Giriş</span>
          <form action="">
            <div class="input-field">
              <input type="text" placeholder="E-Posta Adresi" />
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input type="password" class="password" placeholder="Şifre" />
              <i class="uil uil-eye icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>
            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="logCheck" />
                <label for="logCheck" class="text">Beni hatırla</label>
              </div>
              <a href="#" class="text">Şifremi Unuttum</a>
            </div>
            <div class="input-field button">
              <input type="button" value="Onayla" />
            </div>
          </form>
          <div class="login-signup">
            <span class="text">
              Üye değil misin?
              <a href="#" class="text signup-link"> Üye Ol </a>
            </span>
          </div>
        </div>
        <div class="form signup">
          <span class="title"> Kayıt </span>
          <form action="#">
            <div class="input-field">
              <input type="text" placeholder="Adınızı Giriniz" />
              <i class="uil uil-user"></i>
            </div>

            <div class="input-field">
              <input type="text" placeholder="E-Posta Giriniz" />
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                class="password"
                placeholder="Şifre Oluşturunuz"
              />
              <i class="uil uil-eye icon"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                class="password"
                placeholder="Şifreyi Onayla"
              />
              <i class="uil uil-eye icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            <div class="checkbox-text">
              <input type="checkbox" id="termCon" />
              <label for="termCon" class="text"
                >Tüm Şartları Kabul Ediyorum.</label
              >
            </div>

            <div class="input-field button">
              <input type="button" value="Üye Ol" />
            </div>
            <div class="login-signup">
              <span class="text"
                >Zaten Üyeyim
                <a href="#" class="text login-link">Giriş Yap</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      var container = document.querySelector(".container");
      var signUp = document.querySelector(".signup-link");
      var signIn = document.querySelector(".login-link");

      signUp.addEventListener("click", () => {
        container.classList.add("active");
      });

      signIn.addEventListener("click", () => {
        container.classList.remove("active");
      });
    </script>
  </body>
</html>
